PORT=3001
NODE_TLS_REJECT_UNAUTHORIZED=0
DATABASE_URL= ***
LOGGING_ENABLED=ON
DB_MODE=drizzle
DB_TEST_MODE=drizzle
TEST_MODE=true
WHITE_SERVER_IP= ***
MSPAY_API_URL= ***
TOP_UP_GROUP_PAID_DELAY=1
TOP_UP_GROUP_DONE_DELAY=1
TASK_TRANSITION_STATUS_DELAY=5000
AGTS_PLUGIN_MODE=prod

AGTS_DATA_API_URL= ***
AGTS_PAYMENT_API_URL= ***

LITE_SMS_SERVER=https:// ***
LITE_SMS_SERVER_USER = ***
LITE_SMS_SERVER_PASSWORD= ***
LITE_TEST_PHONE=+993***

CDMA_URL=https:// ***
CDMA_USER =***
CDMA_PASSWORD = ***
CDMA_PAY_SYSTEM_ID= ***

WEBTOKEN_SECRET_KEY= ***