node_modules
node_modules/
.vscode
*.log
*.old
*.last
src/sketches
prisma/migrations
.env
*.html
*.py
*.last
0
.mc.menu
talk
text
tst.*
old
.env
/agtsTestDb.json
/src/db/jsonMockDb/data.json
.env.dev
